body {
  background-color: #fafafa;
}

.blank {
  background-color: #fafafa;
  height: 20px;
}

.pic {
  display: inline-block;
}

.logo {
  margin: 22px auto 8px 50px;
  width: 200px;
  display: inline-block;
}

.form-control {
  background-color: #fafafa;
}

.form-box {
  display: inline-block;
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 320px;
  text-align: center;
}

.btn, .btn:hover {
  background-color: #3897f0;
  border-color: #3897f0;
  color: white;
  font-weight: bold;
  margin: auto;
  display: inline-block;
  width: 290px;
  margin-bottom: 10px;
}

.or {
  width:300px;
	text-align:center;
  margin: auto;
}

hr {
  display: block;
  width: 30%;

}

#left {
  float: left;
}

#right {
  float: right;
}

span {
  font-weight: bold;
}

.apps {
  text-align: center;
}
